<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Library</title>
  <div th:insert="components/imports"></div>
</head>

<body>
  <nav th:insert="components/navigation"></nav>
  <div class="main-container">
    <main>
      <section>
        <h1>Welcome to our library!</h1>
        <p>We are the largest library in town with plenty of books.</p>
      </section>

      <section>
        <h2>Books of the week</h2>
        <p>
          TODO - here a book list will come... Imagine the classical phrase
          here: "Under construction, coming soon..."
        </p>
      </section>
    </main>
  </div>
</body>

</html>